*{
	font-family: 'Varela', sans-serif;
}
.background{
	background-color: white;
}

h1{
	color: black;
}

.heading{
	text-align:center;
	margin:20px;
}

.centerWords{
	margin-top:100px;
	margin-bottom:100px;
	margin-left:50px;
	margin-right:50px;
}

.twoColumns{
	margin:10px;
}

.column {
	flex: 50%;
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
	display: flex;
    content: "";
    display: table;
    clear: both;
}

.profilePic{
	color:#D3D3D3;
	width:500px;
	height:600px;
	align:center;
	margin-top:50px;
	margin-bottom:50px;
}

.colHead{
	font-size:45px;
}

.testimonials{
	margin:25px;
}

.contact{
	text-align:center;
}
