*{
	/* font-family: 'Varela', serif; */
	font-family: 'Playfair Display', serif;

}
.background{
	background-color: white;
}

h1{
	color: black;
	font-size: 28px;
}

.heading{
	text-align:center;
	margin:20px;
}

.centerWords{
	/* margin-top:100px;
	margin-bottom:100px;
	margin-left:50px;
	margin-right:50px; */
	text-align: center;
	font-size: 35px;
}

.twoColumns{
	margin:10px;
}

.column {
	flex: 50%;
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
	display: flex;
    content: "";
    display: table;
    clear: both;
}

.profilePic{
	color:#D3D3D3;
	width:100px;
	height:150px;
	align:center;
	margin-top:50px;
	margin-bottom:50px;
}

.testimonial{
	font-size:20px;
}

.contact{
	text-align:center;
}

.sectionTitle{
	font-size: 35px;
	font-style: italic;
}

.nameOfTest{
	font-style: italic;
	font-size:15px;
}
