*{
	/* font-family: 'Varela', serif; */
	font-family: 'Playfair Display', serif;

}
.background{
	background-color: white;
}

h1{
	color: black;
	font-size: 28px;
}

.heading{
	text-align:center;
	margin:60px;
}

.centerWords{
	margin-top:150px;
	margin-bottom:150px;
	margin-left:200px;
	margin-right:200px;
	text-align: center;
	font-size: 35px;
}

.twoColumns{
	margin:0px;
}

.column {
	flex: 50%;
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
	display: flex;
    content: "";
    display: table;
    clear: both;
}

.profilePic{
	display:block;
	color:#D3D3D3;
	width:100px;
	height:150px;
	/* align:center; */
	margin-top:50px;
	margin-bottom:50px;
}

.testimonial{
	font-size:20px;
}

.contact{
	font-size:30px;
	text-align:center;
}

.sectionTitle{
	font-size: 35px;
	font-style: italic;
	margin-left: 20px;
	margin-top:20px;
}

.nameOfTest{
	font-style: italic;
	font-size:15px;
}

.sectionWords{
	margin:20px;
}
